.wrapper {
  padding: 2rem;

  .btnAddNew {
    border: none;
    background-color: darkgreen;
    cursor: pointer;
    color: white;
    font-size: 2rem;
    padding: 3rem;
  }

  h1 {
    color: white;
    margin: 0 auto;
  }
}
